# =====================================================================
# Portainer + Traefik Edge Gateway Configuration Template
# =====================================================================

# Uncomment the parameters that are necessary.

# --- Container settings ---
# VERSION_T=version traefik
# VERSION_P=version portainer
# TELEMETRY=disabling telemetry for Portainer
#VERSION_T=v3.0
#VERSION_P=latest
#TELEMETRY=-no-analytics

# --- Network and port settings ---
# Change if ports 80 or 443 are already occupied on the server:
# FORWARD_PORT_HTTP=8080
# FORWARD_PORT_HTTPS=8443

# --- Domain and SSL Settings (For Production) ---
# For local testing, leave it as localhost. For the production server, specify your domain:
#DOMAIN=localhost

# To enable real free SSL (Let's Encrypt):
# 1. Specify example: CERT_RESOLVER=myresolver
# 2. Specify your real email for notifications
#CERT_RESOLVER=
#ACME_EMAIL=